*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    color: silver;
    background-color: rgb(19, 19, 19);
}

h3 {
    text-decoration: underline;
}

form {
    text-align: center;
    width: 30rem;
    height: fit-content;
    padding: 1.3rem;
    /* border:  5px outset rgb(0, 0, 0); */
    background-color: rgb(19, 19, 19);
    box-shadow: 0 0 10px rgb(255, 255, 255);
    border-radius: 20px;
}



.pDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.pSubjects>* {
    margin-block: 0.8rem;

    &>* {
        margin-block: 0.8rem;
    }
}



input[type="text"],
input[type="number"],
input[type="date"],
input[type="submit"],
select {
    width: 8rem;
    margin-block: 0.2rem;
}

input[type="checkbox"],
input[type="radio"] {
    margin-inline: 0.3rem;
}

